<ion-content>
  <ion-list padding>
      <ion-button expand="block" (click)="searchBluetooth()">Buscar
        <ion-icon name="bluetooth-outline"></ion-icon>
      </ion-button>
      
      <ion-list-header>Dispositivos Conectados</ion-list-header>
      <ion-item *ngFor="let device of pairedDevices">
          {{device.name}}
      </ion-item>

      <ion-button color="danger" expand="block" (click)="disconnect()">Desconectar
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
     
      <ion-list-header>Dispositivos Disponibles</ion-list-header>
      <ion-item *ngFor='let device of unpairedDevices'>
          <span (click)="selectDevice(device.id)">
              {{device.name || device.address}}
          </span>
      </ion-item>
      <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
</ion-content>